<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>LOGIN</h1>

    <form action="/login " method="POST">
        <div>
            <label for="">Correo Electronico</label>
            <input type="email" name="email" required  placeholder="introduce tu correo electronico">
        </div>
        <div>
            <label for="">Contraseña</label>
            <input type="text" name="password" required placeholder="introduce tu contrseña ">
        </div>
        <p>¿no tienes cuenta ? <a href="{{url_for('register')}}">Registrasee</a></p>
        <button type="submit"> iniciar sesion </button>
    </form>
    
</body>
    
    
</body>
</html>